


body{
		height:100%;
	background-size: 100%;
	-ms-ie-background-size: 100%;
  -webkit-background-size: 100%

}
#navSigNu{
	color:white;
	font-style:italic;
	margin-right:1%;
	font-family: 'Open Sans', sans-serif;
	float:right;
	margin-top:14px;

}
#custom-control{
	/*background-image: linear-gradient(to right, transparent 0px, rgba(242, 222, 5, 0.52) 100%);*/
}

#workingArea{
	margin-left:245px;
}
#rushSigmaNu{
	margin-top:1%;
}

#navBar{
font-family: 'Droid Sans', sans-serif;
	font-weight:bold;
	font-size:16px;
	margin-top:1%;
	width:80%;
	height:1%;
	border-width:3px;
	border-right:5px;
	border-color:rgba(242,222,5,0.52);
	padding-bottom:50px;
	min-width:1200px;
	background:url("buttonBackground.png") bottom left no-repeat;
	background-size:67.5%;
}
#frontpanel {
    margin-bottom: 20px;
    background-color: #000;
    border: 3px solid transparent;
    border-radius: 5px;
    margin-top:2%;
    box-shadow: 1px 1px 12px rgba(252, 221, 54, 0.56);
}

#navBar > li {
margin-left:2px;
padding-left:3px;
padding-right:3px;
margin-right:2px;
text-align:center;

}
.active > a{
	color:white;
}
#navBar > li > a {
color:black;
height:2%;
padding-bottom:40%;
}
.carousel-inner > .item > img { margin: 0 auto; }



#fb-box{
	float:left;
	position:absolute;
}
#homePageCarousel{
	margin-right:10%;
	margin-top:1%;
}
