
body{
	background-size: 100%;
	-ms-ie-background-size: 100%;
  -webkit-background-size: 100%;
}
#navSigNu{
	color:white;
	font-style:italic;
	margin-right:1%;
	font-family: 'Open Sans', sans-serif;
	float:right;
	margin-top:14px;

}
#custom-control{
	/*background-image: linear-gradient(to right, transparent 0px, rgba(242, 222, 5, 0.52) 100%);*/
}

#workingArea{
	margin-left:10%;
	margin-right:10%;
	width:80%;
}
#rushSigmaNu{
	margin-top:1%;
}
.aboutTabs{
	  font-size:16px;

}

#navBar{
font-family: 'Droid Sans', sans-serif;
	font-weight:bold;
	font-size:16px;
	margin-top:1%;
	width:80%;
	height:1%;
	border-width:3px;
	border-right:5px;
	border-color:rgba(242,222,5,0.52);
	padding-bottom:50px;
	min-width:1200px;
	background:url("buttonBackground.png") bottom left no-repeat;
	background-size:67.5%;
}
#aboutUsTab{
font-family: 'Droid Sans', sans-serif;
	font-weight:bold;
	font-size:20px;
	margin-top:1%;
	width:80%;
	color:white;
	border-width:3px;
	border-right:5px;
}
#brothersTab{
font-family: 'Droid Sans', sans-serif;
	font-weight:bold;
	font-size:16px;
	margin-top:1%;
	width:80%;
	color:white;
	border-width:3px;
	border-right:5px;
}
#frontpanel {
    margin-bottom: 20px;
    background-color: #000;
    border: 3px solid transparent;
    border-radius: 5px;
    margin-top:2%;
    box-shadow: 1px 1px 12px rgba(252, 221, 54, 0.56);
}
.panel-body{
	font-size:17px;
	font-family: 'Droid Sans', sans-serif;

}

#navBar > li {
margin-left:2px;
padding-left:3px;
padding-right:3px;
margin-right:2px;
text-align:center;

}
.active > a{
	color:white;
}
#navBar > li > a {
color:black;
height:2%;
padding-bottom:40%;
}

.brotherPic{
	width:350px;
}
.carousel-inner > .item > img { margin: 0 auto; }
.fb-like-box, .fb-like-box span, .fb-like-box iframe[style] {width: 100% !important;
height:100% !important;}



#fb-box{
	float:left;
}
#homePageCarousel{
	margin-top:3%;
}
.container{
	margin-left:2px;
}
.brothersCarousel{
	margin-right:20%;
	margin-left:20%;
	margin-top:3%;
	font-weight:bold;
}

.carousel-indicators{
	bottom:1px;
}
.carousel-caption{
	padding-bottom:0px;
	position:initial;
	margin-bottom:6%;
}